p {
	font-size: 25px;
	margin-top: 0px;
	margin-bottom: 15px;
}

button {
	font-size: 25px;
	background-color: #40b0dd;
	color: white;
	padding: 10px 10px;
	margin: 2px 2px;
}

.button-box {
	margin: 0px 50px;
	display: flex;
	flex-direction: row;
}

#tutorial {
	margin: 30px;
}

#quiz {
	margin: 50px 30px;
	width: 500px;
}

#result {
	margin: 30px;
}

.answer-button {
	font-size: 40px;
	padding: 15px 30px;
	margin: 10px;
}

#goodButton {
	background-color: #50c050;
}

#badButton {
	background-color: #c05050;
}

#word {
	text-align: center;
	font-size: 40px;
}

@media (max-width: 1000px) {
	button {
		font-size: 80px;
		margin: 5px;
		padding: 20px;
	}
	
	.answer-button {
		font-size: 100px;
		padding: 40px;
	}
	
	p {
	font-size: 60px;
}
	
	#word {
		font-size: 100px;
	}
	
	#quiz {
		margin: auto;
		display: flex;
		flex-direction: row;
		align-items: center;
	}
	
	.button-box {
		flex-direction: column;
		align-items: center;
	}
}