p {
	font-size: 25px;
	margin-top: 0px;
	margin-bottom: 15px;
}

button {
	font-size: 25px;
	background-color: #40b0dd;
	color: white;
	padding: 10px 10px;
	margin: 2px 2px;
	border: none;
}

.button-box {
	margin: 0px 50px;
	display: flex;
	flex-direction: row;
	padding: auto;
}

#tutorial {
	margin: 30px;
}

#quiz {
	margin: 100px 60px;
	width: auto;
	display: flex;
	flex-direction: row;
	align-items: center;
}

#result {
	margin: 30px;
}

.answer-button {
	font-size: 40px;
	padding: 15px 30px;
	margin: 5px auto;
}

#goodButton {
	background-color: #50c050;
	margin-left: auto;
	margin-right: 20px;
}

#badButton {
	background-color: #c05050;
	margin-left: 20px;
	margin-right: auto;
}

#word {
	text-align: center;
	font-size: 60px;
}

@media (max-width: 1000px) {
	button {
		font-size: 80px;
		margin: 5px;
		padding: 20px;
	}
	
	.answer-button {
		margin: 5px;
		font-size: 100px;
		padding: 40px;
	}
	
	p {
		font-size: 60px;
		text-align: justify;
	}
	
	#word {
		font-size: 100px;
	}
	
	#quiz {
		padding-top: 400px;
		margin: auto;
	}
	
	.button-box {
		flex-direction: column;
		align-items: center;
	}

	#goodButton {
		margin: 10px;
	}

	#badButton {
		margin: 10px;
	}
}